<div class="container">
    <% flash.each do |name, msg| %>
        <%# checking the name if it is notice then it success else failure"%>
        <div class="alert alert-<%= name == "notice" ? "success" : "alert" %> alert-dismissible fade show" role="alert">
            <p class="mb-0"><%= msg %></p>    
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>
</div>